.start-game-panel-wrapper {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: #d6f9ff;
  z-index: 99;
  height: 100vh;
  display: grid;
  place-items: center;

  .start-game-panel {
    background-color: white;
    border-radius: 15px;
    box-shadow: #63e8ff 0px 0px 3px;
    padding: 1em 2em;

    & > * + * {
      margin-top: 1em;
    }

    p {
      color: grey;
    }

    input {
      padding: 0.2em 0.5em;
      font-size: inherit;
      font-family: inherit;
      color: #2fb0c7;
    }

    button {
      padding: 0.2em 0.5em;
      border-radius: 7px;

      border: none;
      background-color: #bff5ff;

      transition: 0.1s all;
      transition-property: background-color, color;

      &:hover {
        background-color: #2fb0c7;
        color: white;
      }
    }
  }
}

.start-game-panel-wrapper.invisible {
  display: none;
}

#quit-online {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 0.5em 1em;
  font-size: inherit;
  background-color: #b84949;
  color: white;
  border: none;
  border-radius: 15px;
  box-shadow: transparent 0px 0px 3px;

  transition: all 0.2s;
  transition-property: background-color, box-shadow;

  &:hover {
    box-shadow: #682a2a 0px 0px 3px;
    background-color: #682a2a;
  }
}

.full-window-wrapper {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.411);
  display: grid;
  place-items: center;

  .white-panel {
    background-color: rgba(63, 63, 63, 0.74);
    box-shadow: rgb(119, 119, 119) 0px 0px 5px;
    color: white;
    display: grid;
    place-items: center;
    border-radius: 15px;
    max-width: 560px;
    width: 100%;
    max-height: 260px;
    height: 100%;
  }

  ol {
    color: white;
    font-size: 1.5em;
    li {color: #ececec}
    span {color: #aeffae}
    .self {color: white}
    .you {color: #ffc8c8}
  }
}